* {
    margin: 0;
    padding: 0;
    /* font-family: 'Fraunces', serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #042331;
    transition: all 0.5s ease;
}

.sidebar header {
    line-height: 70px;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: #063146;
    user-select: none;
}

.sidebar ul a {
    line-height: 70px;
    height: 100%;
    width: 100%;
    display: block;
    font-size: 20px;
    box-sizing: border-box;
    color: #ffffff;
    padding-left: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    /* z-index: 19; */
    cursor: pointer;
    border-radius: 3px;

    background-color: #042331;

}

label #btn {
    padding: 6px 12px;
    color: #ffffff;
    font-size: 35px;
    left: 40px;
    top: 25px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    padding: 4px 9px;
    color: #0a5275;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}
#check:checked~section{
    margin-left: 250px;
}

section {
    background: url(https://unsplash.com/photos/jphg1enenVg/download?ixid=MnwxMjA3fDB8MXxhbGx8MTB8fHx8fHwyfHwxNjc0MDIzNDU5&force=true&w=1920) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: all .5s;
}