.left{
     display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    flex-shrink: 0;
    height: 900px;
    background-color: aquamarine;
}
.right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 900px;
    width: 60%;
    flex-grow: 1;
    margin-left: 10px;
    background-color: rgb(240, 255, 127);
}
h1{
    text-align: center;
    font-size: 30px;
}
.container{
    display: flex;
    align-self: start;
    
}
@media (max-width:500px) {
    .container{
        flex-direction: column;
    }
    .left,.right{
        width: 100%;
        height: auto;
    }
    .right{
        margin-top: 20px;
        margin-left: auto;
        /* height: 100vh; */
    }
}